* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Sets all fonts to Garamond */
* {
  font-family: Garamond;
}

/*sets h1 element text color to SeaGreen*/
h1 {
  color: #ff6600;
  text-align: center;
  line-height: 500px;
  font-size: 55px;
  background-image: url(../img/header.jpg);
  min-height: 500px;
  margin: 2rem;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-position: center;
}

h2 {
  color: #ff6600;
  font-size: 3rem;
}

/*Sets the font size to 18px for both p elements and li elements*/
p,
li {
  font-size: 24px;
  color: #ff6600;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/background.jpg);
  background-repeat: initial;
  background-size: cover;
  background-color: #d0d3d4;
  margin: 0;
  padding: 0;
}

/*tells index.css to not set text decoration to the included links on the page*/
a {
  text-decoration: none;
}

/*Changes the li elements in the ul emlements from bullet points to square points*/
li {
  list-style: square;
}

.logo {
  width: 8%;
  position: absolute;
  margin-top: 15px;
  margin-left: 120px;
}

.li {
  list-style: none;
}

.index a {
  font-size: 25px;
}

.index a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

.index a:visited {
  color: #ff66cd;
  background-color: transparent;
  text-decoration: none;
}

.index a:hover {
  color: goldenrod;
  background-color: transparent;
  text-decoration: underline;
}

.index a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.menu {
  padding: 0;
  margin: 0 0 0 150px;
}

.menu li {
  list-style: none;
}

.topnav {
  width: 100%;
  overflow: hidden;
  background-color: #000;
  padding-bottom: 20px;
}

.menu a {
  float: left;
  width: 25%;
  display: block;
  padding: 15px;
  color: #ff6600;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.menu a:hover {
  color: goldenrod;
  background-color: transparent;
  text-decoration: underline;
}

.menu a.active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.tmw {
  border-radius: 50%;
}

.foot {
  background-color: black;
  padding: 40px 75px;
  margin: 20px 0px 0px 0px;
  text-align: right;
  font-size: 50px;
  color: white;
}

.fa {
  padding: 25px;
  font-size: 30px;
  width: 50px;
  text-align: right;
  text-decoration: none;
}

.fa:hover {
  color: rgba(124, 3, 124, 0.7);
}

.fa-instagram {
  background: #7c037c;
  color: white;
}

@media only screen and (max-width: 650px) {
  .menu a {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navlogo {
    display: none;
  }
  p {
    font-size: 22px;
    margin-left: 10px;
  }
  .pagelist li {
    font-size: 22px;
    margin-left: 10px;
  }
  .gunlinks {
    font-size: 22px;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 750px) {
  .menu a {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 15%;
    position: absolute;
    margin-top: 30px;
    margin-left: 55px;
  }
  p {
    font-size: 22px;
    margin-left: 10px;
  }
  .pagelist li {
    font-size: 22px;
    margin-left: 10px;
  }
  .gunlinks {
    font-size: 22px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 751px) and (max-width: 1101px) {
  .logo {
    width: 14%;
    position: absolute;
    margin-top: 30px;
    margin-left: 55px;
  }
}

@media only screen and (min-width: 1102px) {
  .logo {
    width: 10%;
    position: absolute;
    margin-top: 15px;
    margin-left: 55px;
  }
}
